@import './global.scss';
@import './icomoon/style.css'; // 字体图标

html,
body {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    touch-action: pan-y; // 修复移动端滑动时页面卡顿问题
}

p {
    margin: 0;
    padding: 0;
}

a {
    // color: var(--themeColor);
    color: #486AAF;
}