* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0;
}
*:before,
*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body, html { height: 100%; }
html { font-size: 16px; line-height: 26px; color: #333; font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif; }
ul, li, ol { list-style: none; outline: none;}
a { text-decoration: none; outline: none;}
input { outline: none;}
.clearfix:after, .container:after { display: block; content: ''; clear: both;}
.pr { position: relative;}
.tl { text-align: left;}
.tc { text-align: center;}
.tr { text-align: right;}
.fc9 { color: #999;}
.fc6 { color: #666;}
.mt10 { margin-top: 10px;}
.mt15 { margin-top: 15px;}
.mt30 { margin-top: 30px;}
.mt60 { margin-top: 60px;}
.f14 { font-size: 14px; line-height: 24px;}
.bgGray { background-color: #f5f5f5;}
.container { width: 1200px; margin: 0 auto;}
.list-circle li { position: relative; padding-left: 8px; margin-bottom: 5px;}
.list-circle li:after { content: ''; display: inline-block; position: absolute; top: 11px; left: 0; width: 4px; height: 4px; border-radius: 50%; background-color: #aaa;}
.defaultLink { text-decoration: none; color: #486AAF; }
/*========= Button Style =========*/
.btn { display: inline-block; padding: 0 25px; height: 30px; line-height: 28px;  font-size: 16px; text-align: center; cursor: pointer;  color: #333; border: 1px solid #ddd; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.btn:link, .btn:visited { color: #333; }
.btn:hover { color: #fff; border-color:#FF665F; background-color: #FF665F; }
.btn:active  { color: #fff; border-color:#F55850; background-color: #F55850; }
.btn.brWhite { color: #fff; border: 1px solid #fff;  }
.btn.brWhite:link, .btn.brWhite:visited { color: #fff; }
.btn.brWhite:hover { border-color:#FF665F; background-color: #FF665F; }
.btn.brWhite:active  { border-color:#F55850; background-color: #F55850; }
.btn.bgOrange { color: #fff; border: 1px solid #F55850; background-color: #F55850;  }
.btn.bgOrange:link, .btn.bgOrange:visited { color: #fff; }
.btn.bgOrange:hover { border-color:#FF665F; background-color: #FF665F; }
.btn.bgOrange:active  { border-color:#F55850; background-color: #F55850; }
/*========= Page Base Layout =========*/
#wrapper { position: relative; min-height: 100%;}
#main { padding-bottom: 220px; }

#jfHeader { width: 100%; height: 65px; background-color: #2D313B;}
#jfHeader .lt { padding-top: 20px; width: 22%; float: left;}
#jfHeader .lt a { display: inline-block;}
#jfHeader .ct { padding-top: 15px; width: 50%; float: left;}
#jfHeader .ct ul li { float: left; padding: 0 30px;}
#jfHeader .ct ul li a { display: inline-block; font-size: 16px; line-height: 36px; color: #fff;}
#jfHeader .rt { float: left; width: 28%; height: 65px;}
#jfHeader .rt:after { content: ''; display: block; clear: both;}
#jfHeader .rt .alertMsg { float: right; position: relative; padding-top: 21px; margin-right: 30px;}
#jfHeader .rt .alertMsg:after { display: inline-block; position: absolute; content: ''; width: 5px; height: 5px; border-radius: 50%; background-color: #FF665F;}

#jfHeader .rt .loginStatus { float: right; position: relative;}
#jfHeader .rt .loginStatus .toggle { padding-left: 30px; margin-top: 10px; height: 48px; border-left: 1px solid #232730; cursor: pointer;}
#jfHeader .rt .loginStatus .toggle span { display: inline-block;}
#jfHeader .rt .loginStatus .toggle .via { margin-top: 7px; width: 32px; height: 32px; border-radius: 50%;}
#jfHeader .rt .loginStatus .toggle .name { margin: 0 0 5px 5px; font-size: 14px; line-break: 24px; color: #ABACB0; vertical-align: text-bottom;}
#jfHeader .rt .loginStatus .toggle .arrow { display: inline-block; margin: 0 0 12px 15px; width: 0;  height: 0;  border-top: 5px solid #ABACB0; border-left: 5px solid transparent; border-right: 5px solid transparent;}
#jfHeader .rt .loginStatus .subMenu { display: none; position: absolute; top: 65px; left: 0; width: 150px; }
#jfHeader .rt .loginStatus .subMenu li { width: 100%; height: 56px; background-color: #21242C;}
#jfHeader .rt .loginStatus .subMenu li a { display: block; padding: 0 20px; font-size: 14px; line-height: 56px; color: #ABACB0; }

/*========= Paging navigation =========*/
#pageNav { text-align: center;}
#pageNav li { display: inline-block; margin: 0 4px; width: 32px; height:32px; font-size: 12px; line-height: 30px; border-radius: 4px; border: 1px solid #eee; cursor: pointer; color: #666;}
#pageNav li.on { color: #FF665F; border-color: #FF665F; }















#jfFooter { position: absolute; bottom: 0; padding-top: 65px; width: 100%; height: 220px; background-color: #20212F;}
#jfFooter .lt { float: left; width: 65%;}
#jfFooter .lt .linkGrp { text-align: left;}
#jfFooter .lt .linkGrp a { display: inline-block; margin-right: 15px;}
#jfFooter .lt .cr { margin-top: 35px; font-size: 12px; line-height: 20px; color: #8D8E95; }
#jfFooter .lt .cr span { margin-left: 60px;}
#jfFooter .lt .cr span img { vertical-align: top;}
#jfFooter .rt { float: right; width: 22%; overflow: hidden;}
#jfFooter .rt .img_9fbarcode { float: left; margin-right: 25px;}
#jfFooter .rt ul { overflow: hidden;}
#jfFooter .rt ul li:nth-child(1) a { display: inline-block; margin-right: 15px; margin-top: 6px;}
#jfFooter .rt ul li:nth-child(2) { font-size: 22px; margin-top: 4px; color: #fff;}
#jfFooter .rt ul li:nth-child(3) { font-size: 12px; line-height: 20px; color: #8D8E95;}

#marsk { display: none; position: fixed; top: 0; left: 0; z-index: 900; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7)}