#jfBanner { height: 640px; overflow:hidden; }
#jfBanner .item { padding-top: 150px; padding-bottom: 20px; height: 640px; width:100%; position:absolute; left:100%; top:0; background-color: #f5f5f5; }
#jfBanner .item.on { left:0;}
#jfBanner .item.one { background: url("../images/index_banner1.png") no-repeat center center; background-size: cover; }
#jfBanner .item.two { background: url("../images/index_banner2.png") no-repeat center center; background-size: cover; }
#jfBanner .item.three { background: url("../images/index_banner3.png") no-repeat center center; background-size: cover; }
#jfBanner .container { text-align: center; }
#jfBanner .item .title { font-size: 80px; line-height: 64px; color: #fff;}
#jfBannerNav { position: absolute; bottom: 5%; left: 50%; margin-left: -65px; width: 130px; text-align: center; }
#jfBannerNav li { display: inline-block; margin: 0 2px; width: 30px; height: 3px; border: 1px solid #999; border-radius: 2px; background-color: #999; cursor: pointer; }
#jfBannerNav li.on { border-color: #fff; background: #fff; cursor: default; }

#jfIndexHeader { position: absolute; top: 0; left: 0; z-index: 100; width: 100%; height: 60px;}
#jfIndexHeader .lt { width: 60%; float: left;}
#jfIndexHeader .lt .logo { display: inline-block; width: 190px; height: 25px; margin-top: 17px; background: url("../images/logo-190x23.png") no-repeat center left;}
#jfIndexHeader .rt { width: 40%; float: right; text-align: right;}
#btnSignIn { margin-top: 15px;}

.subTitle { font-size: 14px; line-height: 24px; color: #999; margin-top: 5px;}
#indexSec1 { padding: 65px 0 80px;}
#indexSec1 .qianbao { position: relative; width: 990px; height: 170px; margin: 30px auto 10px; padding: 55px 85px; background-color: #f5f5f5;}
#indexSec1 .qianbao .quote { position: absolute; left: 30px; top: 10px;}
#indexSec1 .qianbao .card { position: absolute; right: 20px; bottom: 0;}
#indexSec1 ul li { float: left; width: 50%; margin-top: 60px;}
#indexSec1 ul li a { position: relative; display: block; padding-left: 60px;}
#indexSec1 ul li a span { display: block; }
#indexSec1 ul li a span:nth-child(2) { font-size: 18px; line-height: 27px; color: #333;}
#indexSec1 ul li a span:nth-child(3) { font-size: 14px; line-height: 24px; color: #999;}
#indexSec1 ul li .icon { position: absolute; left: 0; top: 0; width: 50px; height: 50px; background: url("../images/icon_indexCard_48x48.png") no-repeat center top;}
#indexSec1 ul li:nth-child(2) .icon { background-position: center -50px; }
#indexSec1 ul li:nth-child(3) .icon { background-position: center -100px; }
#indexSec1 ul li:nth-child(4) .icon { background-position: center -150px; }
#indexSec1 ul li:nth-child(1) a:hover .icon { background-position: center -200px; }
#indexSec1 ul li:nth-child(2) a:hover .icon { background-position: center -250px; }
#indexSec1 ul li:nth-child(3) a:hover .icon { background-position: center -300px; }
#indexSec1 ul li:nth-child(4) a:hover .icon { background-position: center -350px; }
#indexSec1 ul li a:hover span:nth-child(2) { color: #FF665F;}

#indexSec2 { padding-top: 80px; border-top: 1px solid #eee;}
#indexSec2 ul { width: 100%; height: 414px; position: relative; margin-top: 20px; overflow: hidden;}
#indexSec2 ul li { float: left; height: 100%; width: 200px; transition: All 0.5s;   -moz-transition: All 0.5s;  -webkit-transition: All 0.5s; -o-transition: All 0.5s; }
#indexSec2 ul li.current { width: 600px;}
#indexSec2 ul li a { position: relative; display: block; width: 100%; height: 100%; padding-top: 165px; color: #fff;}
#indexSec2 ul li a span { display: block;}
#indexSec2 ul li a .marsk { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(#666, #000, #000); opacity: .6;}
#indexSec2 ul li .icon { position: relative; width: 60px; height: 60px; margin: 0 auto; background: url("../images/icon_indexData_52x52.png") no-repeat center top;} 
#indexSec2 ul li:nth-child(2) .icon { background-position: center -60px;}
#indexSec2 ul li:nth-child(3) .icon { background-position: center -120px;}
#indexSec2 ul li:nth-child(4) .icon { background-position: center -180px;}
#indexSec2 ul li .type { position: relative; font-size: 18px; line-height: 27px; text-align: center; margin-bottom: 20px;}
#indexSec2 ul li:nth-child(1) { background: url("../images/img_indexData1.png") no-repeat center center;}
#indexSec2 ul li:nth-child(2) { background: url("../images/img_indexData2.png") no-repeat center center;}
#indexSec2 ul li:nth-child(3) { background: url("../images/img_indexData3.png") no-repeat center center;}
#indexSec2 ul li:nth-child(4) { background: url("../images/img_indexData4.png") no-repeat center center;}
#indexSec2 ul li .des { position: relative; opacity: 0; width: 400px; margin: 0 auto; font-size: 14px; line-height: 24px; transition: All 0.5s; }
#indexSec2 ul li:nth-child(1) .des { width: 420px;}
#indexSec2 ul li.current a { padding-top: 110px;}
#indexSec2 ul li:nth-child(1).current a { padding-top: 80px;}
#indexSec2 ul li.current .des { opacity: 1; }
#indexSec2 ul li.current .icon { display: none;}
#indexSec2 ul li.current .type { position: relative; font-size: 20px; line-height: 30px; margin-bottom: 50px; }
#indexSec2 ul li.current .type:after { display: inline-block; content: ''; position: absolute; top: 50px; left: 50%; margin-left: -25px; width: 50px; height: 3px; background-color: #FF726A; }

#indexSec3 { padding-top: 80px; }
#indexSec3 ul { margin-top: 40px;}
#indexSec3 ul li { position: relative; float: left; width: 25%;}
#indexSec3 ul li:after { content: ''; display: inline-block; width: 175px; height: 1px; border-top: 1px dashed #ddd; position: absolute; top: 54px; left: 210px; }
#indexSec3 ul li:nth-child(4):after { display: none;}
#indexSec3 ul li a { display: block; width: 240px; margin: 0 auto;}
#indexSec3 ul li a span { display: block;}
#indexSec3 ul li .icon { width: 110px; height: 110px; margin: 0 auto; background: url("../images/icon_indexProcess_106x104.png") no-repeat center top;}
#indexSec3 ul li:nth-child(2) .icon { background-position: center -110px;}
#indexSec3 ul li:nth-child(3) .icon { background-position: center -220px;}
#indexSec3 ul li:nth-child(4) .icon { background-position: center -330px;}
#indexSec3 ul li .type { margin: 20px auto 10px; text-align: center; font-size: 18px; line-height: 27px; color: #333;}
#indexSec3 ul li .des { font-size: 14px; line-height: 24px; color: #666;}
#indexSec3 ul li a:hover .type { color: #FF665F;}
#indexSec3 ul li:nth-child(1) a:hover .icon { background-position: center -440px;}
#indexSec3 ul li:nth-child(2) a:hover .icon { background-position: center -550px;}
#indexSec3 ul li:nth-child(3) a:hover .icon { background-position: center -660px;}
#indexSec3 ul li:nth-child(4) a:hover .icon { background-position: center -770px;}

#indexSec4 { padding-top: 100px; padding-bottom: 120px;}
#indexSec4 .content { position: relative; margin-top: 40px;}
#indexSec4 .content .img_share { display: block; margin: 0 auto; }
#indexSec4 .content .img_map { position: absolute; top: 0; left: 0; right: 0; bottom: 58px; margin: auto; }
#indexSec4 .content ul { position: absolute;}
#indexSec4 .content ul li { position: relative; padding-left: 10px; margin-bottom: 5px; font-size: 14px; line-height: 24px; color: #666;}
#indexSec4 .content ul li:after { content: ''; display: inline-block; width: 4px; height:4px; background-color: #ccc; border-radius: 50%; position: absolute; top: 10px; left: 0;}
#indexSec4 .content ul li:first-child { margin-bottom: 10px; font-size: 18px; line-height: 29px; color: #333;}
#indexSec4 .content ul li:first-child:after { display: none;}
#indexSec4 .content ul.one { top: 35px; left: 50px;}
#indexSec4 .content ul.two { top: 35px; right: 20px;}
#indexSec4 .content ul.three { top: 375px; left: 50px;}
#indexSec4 .content ul.four { top: 375px; right: 90px;}

#signIn { display: none; position: fixed; z-index: 950; top: 50%; left: 50%; margin: -187px 0 0 -260px; padding: 35px 50px; width: 520px; height: 375px; background-color: #fff;}
#signIn .close { cursor: pointer; position: absolute; right: 5%; top: 5%;}
#signIn ul li { margin-bottom: 15px;}
#signIn ul li:nth-child(1) { font-size: 24px; line-height: 36px; text-align:center; }
#signIn input[type='text'], #signIn input[type='password'] { padding-left: 5px; width:100%; height: 48px; border: 1px solid #ddd;}
#btnSubmit { width: 100%; height: 48px; font-size: 18px; background-color: #FF665F; color: #fff; border: none; cursor: pointer;}
#signIn ul li:nth-child(3) { margin-bottom: 0;}
#signIn ul li:nth-child(4) { position: relative; margin-bottom: 8px; padding-top: 35px; font-size: 14px;}
#signIn ul li:nth-child(4) .forgetPsw { float: right; color: #486AAF;}
#signIn ul li:nth-child(4) input[type='checkbox'] { position: relative; top: 2px; margin-right: 2px;}
#errorMsg { display: none; position: absolute; top: 0; left: 0;; font-size: 14px; color: #FF665F;}